

.sidebar{ 
  height:600px;
  width:204px; 
 background-color:#FFFFFF;
 overflow: auto;
 color:#0F2A6F;
 font-size: 14px;
 } 

.sidebar .logo img{
  height:101px;
  width:208px;
} 
.logout_border{
  border-bottom:1px solid gray;
  margin-top: 52%;
}

.logout{
  
    margin-top: 10px;
    margin-left: 10%;
    display:flex;
    color:red;
}
 
.sidebar-item{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
  
}
.sidebar-item:hover{
  background-color: rgba(187, 180, 180, 0.1);
}

.sidebar-title{
  display: flex;
  justify-content: space-between;
  color:#0F2A6F;
}
.sidebar-title span i{
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  /* transition: transform .3s; */
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open .sidebar-content{
  height: auto;
}

.sidebar-item.plain{
  color:#0F2A6F;
  text-decoration: none;
}
.sidebar-item.plain:hover{
  text-decoration: underline;
}
.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}

.btn_logout{
  text-decoration: none;
  border: none;
   color:red;
   background-color:white;
  margin-top:-1px;
  margin-left: 2%;
  cursor: pointer;
}



/* forgot password */

.ink_forgot{
  width: 8%;
  border: 1px solid #0F2A6F;
  box-sizing: border-box;
  margin-left: 36.9%;
}
.forgot_password{
  margin-top:-6%;
}

.forgot_password .hideicon {
  position: absolute;
  margin-left:61%;
  display: block;
  margin-top:-60px;
  
  /* margin-top:65%; */
 } 

 @media (max-width:1075px){
  .forgot_password .hideicon {
   margin-left:67%;
  }
}

.forgot_password .showicon{
  position: absolute;
  margin-left:61%;
  display: block;
  margin-top:-60px;
  
} 
@media (max-width:1075px){
  .forgot_password .showicon {
   margin-left:67%;
  }
}
