.profile_logo{
    margin-top:5%;
      margin-left: 45%;
  }

  .login{
    margin-top:3%;
     margin-left:36.8%;
     color:#0F2A6F;
     font-family:Roboto;
     font-style: regular;
     font-weight: 400;
     font-size: 14px;
     line-height: 134%;
     
     /* text-decoration: underline; */
   
   }

   .form-reset-data{
    margin-top:9%;
    margin-right: 2%;
  }
  
  .back{
    color: #0f2a6f;
    font-size: 16px;
    margin-top: 3%;
    margin-left: 46%;
    font-weight:400;
  }
  