 /* Reset Password */

 .ink{
    width: 6.3%;
    height: 0px;
    border: 1px solid #0F2A6F;
    box-sizing: border-box;
    margin-left: 36.9%;
    margin-bottom:-7%;
}


/* Profile Design */

.form-detail{
  height:180px;
  width:460px;
  margin-top:20px;
  margin-left: 16%;
  background-color: white;
}

@media (max-width: 1075px){
  .form-detail{
    margin-top:20px;
    margin-left: 22%
   
  }
}

.basic_detail{
    display: flex;
    padding: 3px;
    font-size:16px;
    font-family: 'Roboto';
    font-style: medium;
    font-weight: 500;
    color: solid rgba(0, 0, 0, 0.85)
}

.basic_details label{
  margin-left:2%;
  position: absolute;
  top:29%;
  color:rgb(82, 79, 79);
}

.edit{
  font-family: 'Roboto';
  font-size:14px;
  color:#0F2A6F;
  padding: 7px;
  margin-left: 85%;
  margin-top: -6%;
  font-style: medium;
}

.form-change_pwd{
  height:225px;
  width:460px;
  margin-top:2vh;
  margin-left: 16%;
  background-color: white;
}
@media (max-width: 1075px){
  .form-change_pwd{
    margin-top:20px;
    margin-left: 22%
   
  }
}


.change_detail{
  display: flex;
  padding: 7px;
  font-family: 'Roboto';
  font-size:16px;
  font-style: medium;
  font-weight:500;
  color: solid rgba(0, 0, 0, 0.85)
}

/* Change Password Design */

.chane_pwd input{
  width:94%;
  height:5.4vh;
  /* margin-left: 3%; */
  margin: 3%;
}

.chng_pwd{
  position: absolute;
      width: 16px;
      height: 12.57px;
      margin-left: 1.2%;
      margin-top: 0.5%;
}
.chane_pwd .btn-reset{
  height:22px;
  width:160px;
  font-family: 'Roboto';
  margin-left: 14px;
  font-size: 14px;
  color: gray;
}