.userbutton{
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

.search{
    width: 260px;
    float: right;
    margin-top: 25px;
    margin-right: -100px;
}
.usertable{
    margin-top: 100px;
    border: 1px solid lightgrey;
}

.ant-table-tbody > tr > td{
    border: 1px solid lightgrey;
}

.ant-switch-checked{
    background-color: rgb(42, 112, 42);
}



